/* css reset */
* {
    margin: 0;
    padding: 0;
}
/* body{
    position: relative;
    width: 701px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} */

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}
#logo{
    margin: 10px 34px;
}

#logo img {
    border-radius: 50%;
    width: 8%;
    margin: 6px 20px;
}

#navbar {
    display: flex;
    position: relative;

}

.component {
    display: flex;
    left: 200px;
    position: absolute;
}

.item {


    list-style: none;
}

.item a {
    display: block;
    color: white;
    margin: 13px 22px 6px 10px;
    padding: 8px;
    font-size: 1.02rem;
    text-decoration: none;
    font-family: "Baloo 2", sans-serif;
}

.item a:hover {
    background-color: white;
    color: black;
    border-radius: 30px;
}

.Home-section {
    display: flex;
    flex-direction: column;
    padding: 40px 430px;
    align-items: center;
    justify-content: center;
    height: 465px;
    
}

.Home-section::before {
    content: "";
    background: url(background.jpg) no-repeat center center / cover;
    z-index: -1;
    position: absolute;
    height: 83%;
    width: 100%;
    opacity: 0.90;
    top: 0px;
    left: 0px;
    right: 0px;
}


.primary {
    font-size: 3rem;
    padding: 20px;
}

.Home-section h1 {
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
}

.Home-section p {
    color: white;
    font-size: 1.2rem;
    font-family: "Bree Serif", serif;
}

.btn {
    padding: 6px 20px;
    margin: 30px;
    background-color: rgb(34, 78, 78);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.2);
}

/* Services section */
.Services {
    margin: 34px;
    display: flex;
}

.Services .box {
    border: 2px solid brown;
    margin: 3px;
    padding: 34px;
    border-radius: 23px;
    background-color: #d6c1c1;

}

.Services .box img {
    height: 100px;
    display: block;
    margin: auto;
}

/* .second-section h1{
    display: block;
    text-align: center;
} */
#second-section-h {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Bree Serif", serif;
}

.second-section-h2 {
    display: block;
    text-align: center;
    font-family: "Bree Serif", serif;
}

/* client-section */
#client-section {
    height: 344px;
}

.third-section-h {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Bree Serif", serif;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;

}

.client img {
    height: 124px;
    border-radius: 50%;
   
}
.client img:hover{
    transform: scale(1.5);
    
}

.client-item {
    padding: 34px;
    cursor: pointer;
}

#client-section::before {
    content: "";
    background: url(clientbg.jpg) no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    height: 344px;
    width: 100%;
}


/* contact-section */
#Contact {
    position: relative;
    height: 470px;
}

#Contact::before {
    content: "";
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLnwdwchpF3ZnafjX3RumyLHEZgGO1zAuURxlCDYExDA&s) no-repeat center center/cover;
    position: absolute;
    height: 561px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

.center {
    background-color:black;
    color: white;
    padding: 4px 3px;
    position: relative;
    bottom: -64px;
    text-align: center;
    display: block;
    width:100%;
    margin-bottom: 0px;
}
.form-group input,
.form-group textarea{
    display:flex;
    width: 250px;
    border-radius: 5px;
    font-family: "Bree Serif", serif;
}
.fourth-section-h{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
.contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}
.contact-box .btn1{

    padding: 9px 62px;
}